.main_double_categories {
 display: flex;
 flex-direction: column;
 width: 100%;
}

.container_double_categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    background-color: #fff;
    position: relative;
}

.title_double_categories {
    font-weight: 700;
    font-size: 20px;
}

.container_double_categories_btn {
    display: flex;
    gap: 10px
  
}

.container_double_categories_text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.item_categories_double {
    width: 100% !important;
    padding: 10px 10px 0px 10px;

}

.ant-carousel {
    width: 100% !important;
}

.text_small_double_categories {

}

.title_double {
 color: red;
}

.text_sub_double_categories{
    font-size: 20px;
    font-weight: 700;
}