.main {
    margin: 0 auto;
    position: relative;
}

.container_btn {
    position: absolute;
    z-index: 99;
}

.container_btn .antd_btn {
    font-size: 4px;
    line-height: 0.75;
    height: 14px;
    padding: 2px 7.5px;
    border-radius: 3px;
}

.slick-slide .slick-list .slick-track {
    display: flex;
    gap: 20px;

}