.home {
    padding: 20px 220px;
}

.container-home {
    // display: flex;
    // flex-direction: row;
    // position: relative;
    // padding-top: 20px !important;
}

.bg-home {
    position: absolute;
}

 button .ant-btn {
    height: 0px !important;
    border-radius: none !important;

}

.text-bg {
    position: absolute;
    color: white;
    z-index: 99;
    bottom: 75px;
    padding-left: 30px !important;
}

.text-info {
    font-weight: 700;
    font-size: 20px;
    max-width: 430px;
}
// .bg-home {
//     width: 100%*2/3;
// }

.category {
   display: flex;
   flex-direction: column;
   padding-left: 10px;
}

.category.ant-card-body {
    border-radius: 0px;
}

.slick-slide .slick-list .slick-track {
    display: flex;
    gap: 20px;
}

.container-categories {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
}

.text-categories {
    font-weight: 700;
}

.card-category {
  padding-top: 10px;
  position: relative;
//   max-height: 100px;
}

.img-category {
    max-height: 77px;
}

.categories-text {
    font-weight: 700;
    position: absolute;
    z-index: 99;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.container-featured {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 10px 10px 10px;
}