.main_featured {
    position: relative;
}

.container_featured_btn
{
    display: flex;
    flex-direction: row;
    z-index: 99;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 130px !important;
    padding: 0px 20px;
}